<ul class="navBar">

	<li class= "btn btn-primary"><a href="/">Home</a></li>
	<li class= "btn btn-primary"><a href="/yell">Remote</a></li>
	<li class= "btn btn-primary"><a href="/exclaim">Holder 1</a></li>
	<li class= "btn btn-primary"><a href="/echo">Holder 2</a></li>    
	
</ul>
